*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
    background-image: linear-gradient(to left, #b3425c, #72283a,#6b3447, #96354d);
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
  }
  .cadastro{
    margin: 50px;
    width: 500px;
    height: 500px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.cadastro form{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.cadastro form input{
    width: 100%;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #070707;
    border-radius: 5px;
}