*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: 500% 100%;
    animation: degrade-animado 10s infinite alternate;
    background-image: linear-gradient(to left, #5b1a26, #8a3b50, #522126);
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
  }

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px #000;    
}

header ul{
    justify-content: space-between;
    list-style-type: none;
    display: flex;
}

header ul li{
    padding: 20px;
    display: inline-block;
    margin: 0 70px;
}

header ul li a{
    color: #000000;
    text-decoration: none;
    text-shadow: #000000;
    font-size: 25px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #000; 
}

.vinhos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.vinhos h2{
    color: #fff;
    font-size: 50px;
    text-shadow: 0 0 10px #000;
    margin-bottom: 30px;
}

.vinhos p{
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 10px #000;
    margin-bottom: 30px;
}

.vinhos img{
    box-shadow: 0 0 10px #000;
    border-radius: 20px;
}

@media (max-width: 680px){
    header{
        flex-direction: column;
    }
    header ul{
        flex-direction: column;
    }
    header ul li{
        margin: 10px;
    }
    .vinhos img{
        width: 100%;
        height: 100%;
        padding: 5px;
    }
    section .vinhos h2{
        font-size: 100%;
        margin-top: 5px;
    }
    section .vinhos p{
        font-size: 100%;
        margin-top: 5px;
    }
}