*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: 500% 100%;
    animation: degrade-animado 10s infinite alternate;
    background-image: linear-gradient(to left, #5b1a26, #8a3b50, #522126);
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px #000;    
}

header ul{
    justify-content: space-between;
    list-style-type: none;
    display: flex;
}

header ul li{
    padding: 20px;
    display: inline-block;
    margin: 0 70px;
}

header ul li a{
    color: #000000;
    text-decoration: none;
    text-shadow: #000000;
    font-size: 25px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #000; 
}

.conteudos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos h1{
    color: #fff;
    font-size: 50px;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    margin: 5px;
    text-shadow: 0 0 10px #000; 
}

.textos p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    margin: 10px;
    color: #fff;
    text-shadow: 0 0 10px #000; 
}

.imagens img{
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

@media (max-width: 480px){
    header {
        height: auto;
    }
    header nav{
        width: 100%;
    }

    header ul {
        justify-content: space-around;
    }

    header ul li {
        width: 50px;
        height: 50px;
        padding: 10px 0;
        text-align: center;
        margin: 0 10px;
    }
    header ul li a{
        font-size: 15px;
        width: 100%;
        height: 100%;
    }      
    .imagens img{
        width: 100%;
        height: 100%;  
    }
    .textos h1{
        font-size: 10px;
    }
    .textos p{
        font-size: 15px;
    }
}