*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(152, 151, 151);
    background-image: url(/fotos/wallpaper\ pagina\ inicial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 800px;
}

.conteudos{
    background: linear-gradient(#b3425c, #72283a);
    width: 550px;
    height: 550px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: inset 0px 1px 20px 20px rgb(0 0 0 / 13%);
    margin: 10px;
    font-weight: lighter;
}

.conteudos h1{
    font-size: 30px;
    margin: 15px;
}

.conteudos p{
    font-size: 20px;
    margin: 15px;
}

.container_home{
    font-weight: lighter;
    text-align: center;
    width: 400px;
    height: 200px;
    background: linear-gradient(#b3425c, #72283a);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: inset 0px 1px 20px 20px rgb(0 0 0 / 13%);
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao a{
    display: flex;
    text-decoration: none;
    font-weight: lighter;
}

.botao_home{
    margin: 12px;
    display: flex;
    width: 100px;
    height: 50px;
    background-color: rgb(238, 238, 238);
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: inset 0px 1px 20px 20px rgb(0 0 0 / 13%);
    font-weight: lighter;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;   
    }

    .conteudos h1, .conteudos p,
    .container_home h2, .container_home h4 {
        font-size: 14px;
        margin: 10px;
    }

    .conteudos, .container_home {
        margin: 5px;
    }

    .botao_home {
        width: 80px;
        height: 40px;
        font-size: 12px;
    }

    .conteudos {
        width:350px;
        height: 350px;
    }

    .container_home {
        width: 300px;
        height: 200px; 
    }
}